body {
  background: lightskyblue;
}
#container {
  background: floralwhite;
}

html.multiplebgs.svg #clients .client .back {
  background: url(../gfx/Avanade_logo.svg) center center no-repeat, #F47929;
}

#clients .client.voted .back .nickname{
  color: #000000;
}

#clients .nickname {
  font-size: 0.9em;
  letter-spacing: 1px;
}

select {
  background: #f2f2f2;
  color: #312928;
  padding: 3px 8px;
  margin: 4px;
  border: 1px solid #e3dfe3;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 400;
}
select:hover {
  background: white;
}
select {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  background: #e3dfe3;
  border-color: #cbc4cb;
}
select:focus {
  outline: 0;
  outline-offset: 0;
  background: #f2f2f2;
  border: 1px solid #fc5426;
}

#loginActions, #votingActions {
  max-width: 600px;
}


#loginActions select, #votingActions input {
  margin: 6px 0;
}
@media (max-width: 679px) {
  #loginActions select {
    width: 48.93617%;
    clear: right;
    float: left;
    margin-right: 2.12766%;
  }
  #loginActions select:nth-child(2n+0) {
    margin-right: 0;
  }
}
@media (min-width: 680px) {
  #loginActions select {
    width: 23.40426%;
    clear: right;
    float: left;
    margin-right: 2.12766%;
  }
  #loginActions select:nth-child(4n+0) {
    margin-right: 0;
  }
}